# Secrets
.env
**/.env

# Old Git repositories backups
**/.git-backup/

# Frontend
frontend/node_modules/
frontend/build/

# Backend
backend/target/

# Vagrant
deployment/.vagrant/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
